<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>java20-Bnews</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AdminIndexController</servlet-name>
    <servlet-class>controller.AdminIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexController</servlet-name>
    <url-pattern>/admin/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexCategoryController</servlet-name>
    <servlet-class>controller.AdminIndexCategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexCategoryController</servlet-name>
    <url-pattern>/admin/cats</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddCategoryController</servlet-name>
    <servlet-class>controller.AdminAddCategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddCategoryController</servlet-name>
    <url-pattern>/admin/cats/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditCategoryController</servlet-name>
    <servlet-class>controller.AdminEditCategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditCategoryController</servlet-name>
    <url-pattern>/admin/cats/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelCategoryController</servlet-name>
    <servlet-class>controller.AdminDelCategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelCategoryController</servlet-name>
    <url-pattern>/admin/cats/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexNewsController</servlet-name>
    <servlet-class>controller.AdminIndexNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexNewsController</servlet-name>
    <url-pattern>/admin/news</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddNewsController</servlet-name>
    <servlet-class>controller.AdminAddNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddNewsController</servlet-name>
    <url-pattern>/admin/news/add</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>PublicIndexController</servlet-name>
    <servlet-class>controller.PublicIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicIndexController</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>PublicCatController</servlet-name>
    <servlet-class>controller.PublicCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicCatController</servlet-name>
    <url-pattern>/cats</url-pattern>
  </servlet-mapping>
</web-app>